.cont{
    background-color: black;
    width: 330px;
    height: auto;
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-left: 25px;
}

#result{
    height: 40px;
    color: white;
    font-size: 40px;
    text-align: right;
    padding-right: 35px;
    
}


.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

button{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 22px;
    
}
.grey {
    background-color: rgba(211, 211, 211, 0.881);
}

.narinci{
    background-color: orange;
    color: white;
}

.dark-grey{
    background-color: rgba(169, 169, 169, 0.453);
    color: white;
}

.sifir{
    width: 140px;
    height: 70px;
    border-radius: 35px;
    font-size: 22px;
    text-align: left;
    padding-left: 30px;
    
}

.noqte{
    margin-left: 8px;
    margin-bottom: 15px;

}